<div class="form-container">
  <h1>Add Employee</h1>
  <div *ngIf = "imageName" style="width: 50%; margin: auto;">
    <img width="100%" src="http://localhost:9000/{{imageName}}">
  </div>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)] = "name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker] = "myDatepicker" [(ngModel)] = "dob" placeholder="Select DOB" required="">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Salary" [(ngModel)] = "salary" required="">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Skills" [formControl]="skills" multiple>
      <mat-select-trigger>
        {{skills.value ? skills.value[0] : ''}}
        <span *ngIf="skills.value?.length > 1" class="example-additional-selection">
          (+{{skills.value.length - 1}} {{skills.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill}}</mat-option>
    </mat-select>
  </mat-form-field>
  <h2>Upload Image</h2><input type="file" name="fileUplaod" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
  <div>
      <div class="row uploadList" *ngFor="let item of uploader.queue">
          <h3>{{item.file.name}}</h3>
          <button type="button" (click)="item.upload()">Upload</button>
          <button type="button" (click)="item.remove()">Cancel</button>
      </div> 
  </div>
  <button mat-raised-button style="width: 50%; background-color: lightgreen; margin: auto" (click) = "onSubmit()"> Submit </button>
  <h2>{{msg}}</h2>
</div>